@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://i.ebayimg.com/images/g/m50AAOSw5n9dfd1p/s-l1600.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 6rem;
  display: grid;
  grid-template-rows: 9fr 1fr 1fr;
  background-color: #8890ad;
  justify-items: center;
}

div > .image {
  height: 18.75rem;
  width: 18.75rem;
  background-color: #cdd0db;
  background-size: 100%;
}

.search-bar {
  text-align: center;
  font-family: "Bungee";
  margin: auto;
  height: 2.2rem;
  width: 16.9rem;
}

.button{
  font-family: "Bungee";
  background:#ab1a1a;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

button:hover{
  background:#fff;
  color:#ab1a1a;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ab1a1a;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
