@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://i.ebayimg.com/images/g/m50AAOSw5n9dfd1p/s-l1600.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 6rem;
  display: grid;
  grid-template-rows: 9fr 1fr 1fr;
  background-color: #8890ad;
  justify-items: center;
}

div > .image {
  height: 18.75rem;
  width: 18.75rem;
  background-color: #cdd0db;
  background-size: 100%;
}

.search-bar {
  text-align: center;
  font-family: "Bungee";
  margin: auto;
  height: 2.2rem;
  width: 16.9rem;
}

button {
  color: white;
  background: #8d1d1f;;
  width: 310px;
  height: 50px;
  font-size: 45px;
  font-family: "Bungee";
  text-align: center;
  border: none;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0 transparent;
}
  button:hover {
    color: #ffffff;
    box-shadow: 0 0 30px 0;
    background-color:#E46D5D;
  }
  button:active {
    box-shadow: 0 0 0 0 transparent;
  }